.borderb{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15rem;
  width: 20rem;
  position: relative;
  transition: all 1s;
  margin-top: 6rem;
}
.borderb > *{
  border-radius: 300px;
}
 .borderb:hover{
  transform: scale(1.3);
}
.borderb.active > *{
  box-shadow: 0 0 1.3rem 1.5rem rgba(214, 102, 255, 0.533);
}
.borderb > .borderb-border{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  box-shadow: none;
}