.borderb{
  display: flex;
  justify-content: center;
  height: 300px;
  width: 400px;
  position: relative;
  transition: all 1s;
}
.borderb:hover{
  transform: scale(1.3);
}
.borderb-border{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  transform: scale(1.3);
}