.contact-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 720px;
  min-height: 400px;
  border-radius: .5rem;
  border: 1px solid #d2e9e9;
  background-color: #c1d5d3dd;
  margin-top: 1000px;
}
.contact-container p{
  color: #152315;
}