*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
.main{
  min-height: 85vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}